.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 590px;

  background-color: white;
} 

.number-button {
  font-size: 40px;
  width: 100px;
  height: 100px;
}

.button-orange {
  color: white;
  font-size: 40px;
  width: 100px;
  height: 100px;
  background-color: #df974c;
  border: 1px solid black;
}

.button-clear {
  font-size: 40px;
  width: 200px;
  height: 100px;
}

.button-zero {
  font-size: 40px;
  width: 300px;
  height: 100px;
}

.results {
  display: flex;
  justify-content: end;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  width: 380px;
  height: 40px;
  font-family: arial;
  font-size: 40px;
  color: white;
  background-color: black;
}

.row1 {
  display: flex;
  font-size: 0;
  width: 400px;
  height: 100px;
}

.row-2 {
  display: flex;
  width: 400px;
  height: 100px;
}
.row-3 {
  display: flex;
  width: 400px;
  height: 100px;
}
.row-4 {
  display: flex;
  width: 400px;
  height: 100px;
}
.row-5 {
  display: flex;
  width: 400px;
  height: 100px;
}
